.Contributions {
  width: 100%;
  height: 80vh;
  box-shadow: var(--glassShadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding-bottom: 10px;
  h1 {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-transform: capitalize;
  }
}
.Contributions .Form {
  width: 100%;
  height: 100%;
  align-content: center;
  form {
    width: 400px;
    height:100%;
    section {
      width: 100%;
      height:100%;
      input{
        height:100%;
      }
    }
    .button {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2px;
      
      button {
        width: 100%;
        height: 80%;
        margin: auto;
        border-radius: 1rem;
        border: none;
        box-shadow: var(--cardShadow);
        font-weight: var(--fntW);
        text-transform: capitalize;
        background: var(--bg);
        color: var(--ngsLght);
        cursor: pointer;
      }
    }
  }
}
/* ---------------Mobile View----------------- */

@media screen and (max-width: 800px) {
  .Contributions {
    width: 100%;
    height: 87vh;
    margin: auto;
    h1 {
      width: 100%;
      font-size: 28px;
    }
    .Form {
      width: 100%;
      height: 100%;
      form {
        width: 100%;
        height: 70%;
        backdrop-filter: blur(20px);
        box-shadow: var(--cardShadow);
        align-content: center;
        h1 {
          width: 100%;
          text-align: center;
          .icon-a {
            color: green;
            animation: bounce 1s alternate infinite;
            transition: all .3s ease;
          }
        }
        section {
          height: 100%;
          margin: auto;
          width: 100%;
        }
        .button {
          width: 100%;
          height: 100%;
          background: var(--ngsLght);
          box-shadow: inset 0px 5px 6px rgba(0, 0, 0, 0.5);
          border-radius: 15px;
          padding: 3px;

          button {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: var(--bg);
            color: var(--ngsLght);
            font-size: 10px;
            transition: all 0.3s ease;
            &:hover {
              translate: 0 -2px;
              background-color: var(--bg_tr);
            }
          }
        }
      }
    }
  }
  @keyframes bounce {
    from {
      transform: translateY(-20%);
    }
    to {
      transform: translateY(0%);
    }
  }
}
